body {
    background-color: white;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 100%;
}

p {
    text-indent: 10px;
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.marginAdd {
    display: none;
}

.mirador-canvas-nav {
    display: none !important;
}
h1 {
    color: #2c3e50;
    font-family: 'Georgia', serif;
    margin-bottom: 20px;
    background-color: #e2eef3;
}
.upper-panel {
    background-color: #f7f4ee;            
}
.lower-panel {
    background-color:  #f7f4ee;          
}
#image_container {
    width: 80px; 
    height: 80px;
    overflow:auto;
}

#image_left {
    float: left;
    width: 50%;
}

#image_right {
    float: right;
    width: 50%;
}
.page-navigation {
    display: flex;
    justify-content: space-between; 
    margin-top: 30px; 
    padding: 10px 0;
    width: 100%;
}

.nav-button {
    display: inline-block;
    text-decoration: none; 
    padding: 10px 15px;
    border: 1px solid blue;
    border-radius: 5px;
    color: #ffffff;
    background-color: blue; 
    transition: background-color 0.3s; 
    margin: 10px 5px;
}


.nav-button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.nav-button2 {
    display: inline-block;
    text-decoration: none; 
    padding: 10px 15px;
    border: 1px solid grey;
    border-radius: 5px;
    color: #ffffff;
    background-color: grey; 
    transition: background-color 0.3s; 
    margin: 0 5px;
}




.supraAdd {
    vertical-align: super;
    font-size: 0.75em; 

}
.metamark-below {
    top:0.7em;
    position: relative;
    font-size: 0.9em; 
}
del {
    color: gray;
}
.double-underline {
    text-decoration: underline;
    text-decoration-style: double;
}
.marginleft {
    margin-left: 50px; 
}

.verse-line {
    text-align: left; 
}

.right-align {
    text-align: right
}
.indented-paragraph {
    text-indent: 2em;
}

.hide-content {
    display: none !important; 
}
.hide-metamark {
    display: none !important;
}
.inline-text {
    vertical-align: baseline !important; 
    position: static !important;
    top: auto !important;
    font-size: 1em !important;           
    font-weight: normal !important;
    color: black !important;
}

#folio {
    border: 2px solid #333; 
    border-radius: 50%;    
    width: 60px;            
    height: 60px;           
    text-align: center;     
    line-height: 60px;     
    font-size: 24px;
    margin: 20px;           
    display: inline-block;  
}
#stats{
    background-color: #e2eef3;
}
.editorial-note {
    background-color: #fff3cd; 
    border: 1px solid #ffeeba;
    padding: 2px 5px;
    border-radius: 4px;
    font-size: 0.9em;
    color: #856404;
    margin: 0 5px;
    display: none; 
}
.circled {
    border: 2px solid #333;
    border-radius: 100%;     
    padding: 2px 8px;       
    display: inline-block;
}
.show-notes {
    display: inline-block !important; 
}